.row{
    background-image: url('https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    min-height: 100vh;
}